### Case Study - Honey Production

Source Credit : https://www.kaggle.com/jessicali9530/honey-production

#### Context
In 2006, global concern was raised over the rapid decline in the honeybee population, an integral component to American honey agriculture. Large numbers of hives were lost to Colony Collapse Disorder, a phenomenon of disappearing worker bees causing the remaining hive colony to collapse. Speculation to the cause of this disorder points to hive diseases and pesticides harming the pollinators, though no overall consensus has been reached. Twelve years later, some industries are observing recovery but the American honey industry is still largely struggling. The U.S. used to locally produce over half the honey it consumes per year. Now, honey mostly comes from overseas, with 350 of the 400 million pounds of honey consumed every year originating from imports. This dataset provides insight into honey production supply and demand in America by state from 1998 to 2012.

#### Content
The National Agricultural Statistics Service (NASS) is the primary data reporting body for the US Department of Agriculture (USDA). NASS's mission is to "provide timely, accurate, and useful statistics in service to U.S. agriculture". From datasets to census surveys, their data covers virtually all aspects of U.S. agriculture. Honey production is one of the datasets offered. Click here for the original page containing the data along with related datasets such as Honey Bee Colonies and Cost of Pollination. Data wrangling was performed in order to clean the dataset. honeyproduction.csv is the final tidy dataset suitable for analysis. The three other datasets (which include "honeyraw" in the title) are the original raw data downloaded from the site. They are uploaded to this page along with the "Wrangling The Honey Production Dataset" kernel as an example to show users how data can be wrangled into a cleaner format. Useful metadata on certain variables of the honeyproduction dataset is provided below:

  - numcol: Number of honey producing colonies. Honey producing colonies are the maximum number of colonies from which honey was taken during the year. It is possible to take honey from colonies which did not survive the entire year
  - yieldpercol: Honey yield per colony. Unit is pounds
  - totalprod: Total production (numcol x yieldpercol). Unit is pounds
  - stocks: Refers to stocks held by producers. Unit is pounds
  - priceperlb: Refers to average price per pound based on expanded sales. Unit is dollars.
  - prodvalue: Value of production (totalprod x priceperlb). Unit is dollars.
  - Other useful information: Certain states are excluded every year (ex. CT) to avoid disclosing data for individual operations. Due to rounding, total colonies multiplied by total yield may not equal production. Also, summation of states will not equal U.S. level value of production.


#### Acknowledgements
Honey production data was published by the National Agricultural Statistics Service (NASS) of the U.S. Department of Agriculture. The beautiful banner photo was by Eric Ward on Unsplash.

#### Inspiration
   - How has honey production yield changed from 1998 to 2012?
   - Over time, which states produce the most honey? Which produce the least? Which have experienced the most change in honey yield?
   - Does the data show any trends in terms of the number of honey producing colonies and yield per colony before 2006, which was when concern over Colony Collapse Disorder spread nationwide?
   - Are there any patterns that can be observed between total honey production and value of production every year?
   - How has value of production, which in some sense could be tied to demand, changed every year?

#### Import pandas, numpy, seaborn, matplotlib.pyplot packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### Import the honeyproduction.csv file

In [2]:
mydata = pd.read_csv("honeyproduction.csv")

#### Explore the data for non-null and extreme values

In [3]:
mydata.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998
1,AZ,55000.0,60,3300000.0,1485000.0,0.64,2112000.0,1998
2,AR,53000.0,65,3445000.0,1688000.0,0.59,2033000.0,1998
3,CA,450000.0,83,37350000.0,12326000.0,0.62,23157000.0,1998
4,CO,27000.0,72,1944000.0,1594000.0,0.70,1361000.0,1998

In [4]:
mydata.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
numcol,626.0,6.028435e+04,9.107709e+04,2000.00,9000.0000,26000.00,63750.00,510000.00
yieldpercol,626.0,6.200958e+01,1.945875e+01,19.00,48.0000,60.00,74.00,136.00
totalprod,626.0,4.169086e+06,6.883847e+06,84000.00,475000.0000,1533000.00,4175250.00,46410000.00
stocks,626.0,1.318859e+06,2.272964e+06,8000.00,143000.0000,439500.00,1489500.00,13800000.00
priceperlb,626.0,1.409569e+00,6.385989e-01,0.49,0.9325,1.36,1.68,4.15
prodvalue,626.0,4.715741e+06,7.976110e+06,162000.00,759250.0000,1841500.00,4703250.00,69615000.00
year,626.0,2.004864e+03,4.317306e+00,1998.00,2001.0000,2005.00,2009.00,2012.00

In [5]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 8 columns):
state          626 non-null object
numcol         626 non-null float64
yieldpercol    626 non-null int64
totalprod      626 non-null float64
stocks         626 non-null float64
priceperlb     626 non-null float64
prodvalue      626 non-null float64
year           626 non-null int64
dtypes: float64(5), int64(2), object(1)
memory usage: 39.2+ KB

#### How many States are included in the dataset?

In [6]:
mydata['state'].nunique()

44

#### Which are he States that are included in this dataset?

In [7]:
mydata['state'].unique()

array(['AL', 'AZ', 'AR', 'CA', 'CO', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN',
       'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MI', 'MN', 'MS', 'MO', 'MT',
       'NE', 'NV', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA',
       'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'SC'],
      dtype=object)

#### Calculate the average production for each state across all years

In [8]:
mydata[['state', 'totalprod']].groupby('state').mean().round()

        totalprod
state
AL       825467.0
AR      2810400.0
AZ      2032267.0
CA     23169000.0
CO      1750600.0
FL     16469867.0
GA      3299933.0
HI       843133.0
IA      2080000.0
ID      4410667.0
IL       498333.0
IN       484000.0
KS       707933.0
KY       229667.0
LA      3627333.0
MD       211000.0
ME       246733.0
MI      4854667.0
MN      9624000.0
MO       871533.0
MS      1456867.0
MT     10437467.0
NC       542733.0
ND     31672333.0
NE      3158600.0
NJ       399533.0
NM       476467.0
NV       439273.0
NY      3937467.0
OH      1040067.0
OK       201167.0
OR      2121400.0
PA      1295600.0
SC       343333.0
SD     17742733.0
TN       407733.0
TX      6993600.0
UT      1179067.0
VA       266533.0
VT       388067.0
WA      2687733.0
WI      5455533.0
WV       321200.0
WY      2617933.0

#### Hw many years data is provided in the dataset? And what is the starting and ending year?

In [9]:
mydata['year'].nunique()

15

In [10]:
mydata['year'].min()

1998

In [11]:
mydata['year'].max()

2012

#### Which State has seen highest volume in production, and in which year?

In [12]:
mydata[mydata['totalprod'] == mydata['totalprod'].max()]

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
532,ND,510000.0,91,46410000.0,12995000.0,1.5,69615000.0,2010

#### What is the average yield per colony , for each year?

In [13]:
mydata[['year', 'yieldpercol']].groupby('year').mean().round()

      yieldpercol
year
1998         70.0
1999         65.0
2000         68.0
2001         65.0
2002         67.0
2003         63.0
2004         65.0
2005         64.0
2006         62.0
2007         59.0
2008         61.0
2009         54.0
2010         56.0
2011         55.0
2012         55.0

#### Is there correlation between any 2 Numeric variables? Test for the same using Visual techniques

In [ ]:
sns.pairplot(mydata[['numcol', 'yieldpercol', 'totalprod', 'stocks', 'priceperlb', 'prodvalue']])

In [ ]:
cor = mydata[['numcol', 
              'yieldpercol', 
              'totalprod', 
              'stocks', 
              'priceperlb', 
              'prodvalue']].corr()

cor

In [ ]:
sns.heatmap(cor,annot=True,cmap='plasma',vmin=-1,vmax=1)

#### What is the general Production trend from 1998 to 2012? Describe visually

In [ ]:
sns.pointplot(mydata['year'], mydata['totalprod'])

#### How is the production trend for each State? Describe visually - Hint (Use sns.FacetGrid() & g.map() functions)

In [ ]:
g = sns.FacetGrid(mydata, col="state", col_wrap=5, height=3)
g = g.map(plt.plot, "year", "totalprod", marker=".")

#### Is there a linear relationship between the Number of Colonies & Value in Production? Check at an overall level, at state and year levels as well

In [ ]:
sns.lmplot(x="numcol", y="prodvalue", data=mydata)

In [ ]:
sns.lmplot(x="numcol", y="prodvalue", data=mydata, hue='state')

In [ ]:
sns.lmplot(x="numcol", y="prodvalue", data=mydata, hue='year')

In [ ]:
# Interactive scatter plot using plotly package
import plotly.express as px
px.scatter(mydata, x = 'numcol', y = 'prodvalue', animation_frame = 'year', size = 'totalprod')

#### Check the distribution of total prodcution across each year using boxplots

In [ ]:
fig, ax = plt.subplots(figsize=(20,10))
sns.boxplot('year','totalprod',data=mydata)

#### How has the Value in Production changed over the years?

In [ ]:
sns.pointplot(mydata['year'], mydata['prodvalue'])

#### What is the linear relationship between Production volume & value over the years?

In [ ]:
sns.lmplot(x="totalprod", y="prodvalue", data=mydata)